<div class="main-layout">

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer mode="side">

      <mat-nav-list>
        @for (navLink of navLinksMapper; track navLink.path) {
        <mat-list-item
          routerLink="{{ hasSubselections(navLink.path) ? navLink.subselections![0].path : navLink.path }}"
          routerLinkActive="active-link"
          (click)="hasSubselections(navLink.path) && drawer.toggle()"
        >
          <span #mainLink>{{ navLink.title }}</span>
        </mat-list-item>
        }
      </mat-nav-list>

    </mat-drawer>
    <mat-drawer-content>

      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>

      <mat-nav-list>
        @for (navLink of (currentSubselections$ | async); track navLink.path) {
        <mat-list-item
          routerLink="{{ navLink.path }}"
          routerLinkActive="active-link"
        >
          {{ navLink.title }}
        </mat-list-item>
        }
      </mat-nav-list>

    </mat-drawer-content>
  </mat-drawer-container>

  <section>
    <ng-content />
  </section>

</div>

