.main-layout {
    display: flex;
}

section {
  width: calc(100vw - 240px);
}

.sidenav-container, mat-drawer-container {
  border-right: 1px solid var(--mat-sys-outline-variant);
  width: 240px !important;
  //padding: var(--spacing-4) var(--spacing-2);
  overflow: hidden;
  box-sizing: border-box;

}

mat-drawer {
  width: 240px !important;
  padding: var(--spacing-4) var(--spacing-2);
}

mat-drawer-content {
  padding: var(--spacing-4) var(--spacing-2);
}

.mat-sidenav-container, mat-drawer-container {
  height: calc(100vh - 64px);
}

.mat-mdc-list-item {
  text-align: left;
}

.active-link {
  background-color: rgb(224, 227, 226, 0.08);

  &::before {
    display: none;
  }
}

