.sidenav-container {
  border-right: 1px solid var(--mat-sys-outline-variant);
  width: 240px !important;
  padding: 16px 8px;
  overflow: auto;
  box-sizing: border-box;
}

.mat-sidenav-container {
  height: calc(100vh - 64px);
}

.mat-mdc-list-item {
  text-align: left;
}

.active-link {
  background-color: rgb(224, 227, 226, 0.08);

  &::before {
    display: none;
  }
}

