<div class="main-layout">
  <mat-sidenav-container autosize>
    <mat-sidenav mode="side" opened class="sidenav-container">
      <mat-nav-list>
        @for (navLink of navLinksMapper; track navLink.path) {
          <mat-list-item
            routerLink="{{ navLink.path }}"
            routerLinkActive="active-link"
          >
            {{ navLink.title }}
          </mat-list-item>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content />

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

